<!-- Page Wrapper -->
<div id="wrapper">
  <app-navbar></app-navbar>
  <!-- Content Wrapper -->


  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->

      <app-navbartop></app-navbartop>




      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <a routerLink="/add-client" routerLinkActive="active" class="btn btn-success btn-icon-split mb-4">
          <span class="icon text-white-50">
            <i class="fas fa-edit"></i>
          </span>
          <span class="text" >Add Client</span>
        </a>
        <a style="width: 20px;color: white;">    .</a>
        <a routerLink="/add-employe" routerLinkActive="active" class="btn btn-success btn-icon-split mb-4">
          <span class="icon text-white-50">
            <i class="fas fa-edit"></i>
          </span>
          <span class="text" >Add Employee</span>
        </a>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">LIST ACCOUNTS</h6>
          </div>
          <div class="card-body">



            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                     aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="searchText" (input)="onSearch()">
              <div class="input-group-append">
                <button [disabled]="true" class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
            <hr>
            <div class="table-responsive">
              <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Date Creation</th>
                  <th>Address</th>
                  <th>Add Report</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Date Creation</th>
                  <th>Address</th>
                  <th>Add Report</th>
                </tr>
                </tfoot>
                <tbody>
                <tr *ngFor="let account of accounts">
                  <td>{{account.firstname}}</td>
                  <td>{{account.lastname}}</td>
                  <td>{{account.email}}</td>
                  <td>{{account.role}}</td>

                  <td>{{account.datecreation.slice(11,16)}} {{account.datecreation.slice(0,10)}}</td>

                  <td>{{account.address}} {{account.postalCode}} {{account.city}} {{account.country}}</td>
                  <td *ngIf="account?.role === 'CLIENT'">
                    <button
                      type="button"
                      class="btn btn-primary btn-icon"
                      [routerLink]="['/add-report', account.idAccount]"
                      routerLinkActive="active">
                      <i class="fa fa-upload" aria-hidden="true"></i> <!-- Upload Icon Only -->
                    </button>

                  </td>

                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2024</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <app-logout></app-logout>
</div>
